<p>register works!</p>
<mat-card style="margin-left: 40%;width:20%;margin-top: 5%;background-color: blueviolet;">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <form #adduser="ngForm" (ngSubmit)="onSubmit(adduser)">
      <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" name="fullName" [(ngModel)]="user.fullName" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="user.email" required>
      </mat-form-field><br>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="user.password" required>
      </mat-form-field><br>

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form><br>
    <p>Already Registered..? <a routerLink="/login">Click Here</a></p>
  </mat-card-content>
</mat-card>